extends layout
block pageScript
  head
    script(src='/javascripts/userScript_clientside.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
block mainContent
  if updateUser
    div.container
      p#id id : #{updateUser.id}
      p Name : #{updateUser.first_name} #{updateUser.last_name}
      p Email : #{updateUser.email}
      img(src=updateUser.avatar)
  div.imgBgSkills
    #form_container(class="userForm")
      form(action='', name="userForm")
        h1= title
        .row
          .col-25  First Name :
          .col-75
            input(type='text', name='firstName', placeholder='first name', required='')
        .row
          .col-25 Last Name :
          .col-75
            input(type='text', name='lastName', placeholder='Last name', required='')
        .row
          .col-25 Job :
          .col-75
            input(type='text', name='job', placeholder='job', required='')
        .row
          .col-25
            - var handleClick = (!updateUser ? 'addUser()' : 'updateUser()')
            - var buttonName = (!updateUser ? 'Create User' : 'Update User')
            button(type='button', name='submit', onClick=handleClick ) #{buttonName}
            button(type='reset', name='reset') Reset
